

body {
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}

#navigation {
    list-style: none; 
    padding: 0;
  }

#navigation li {
    display: inline;
    margin: 16px;
    
  }

#navigation a {
  text-decoration: none;
  color: white;
}

#navigation a:hover {
  border: 1px solid white; /* Adjust color and thickness as needed */
}

#navigation a {
  text-decoration: none;
  color: white;
  padding: 2px; /* Add some padding */
}


.title {
  font-size: 32px;
  
}

.introduction {
  margin-top: 16px;
}