@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}

#navigation {
    list-style: none; 
    padding: 0;
    font-family: 'Poppin', sans-serif;
    font-size: large;
  }

#navigation li {
    display: inline;
    margin: 16px;
    
  }

#navigation a {
  text-decoration: none;
  color: white;
}

#navigation a:hover {
  border: 1px solid white; /* Adjust color and thickness as needed */

}

#navigation a {
  text-decoration: none;
  color: white;
  padding: 2px; /* Add some padding */
}


.title {
  font-size: 32px;
  
}

.introduction {
  margin-top: 64px;
}

.title, .introduction {
  font-family: 'Poppin', sans-serif;
}

footer {
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}